<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    	<script type='text/javascript' src='/javascripts/jquery-2.1.1.min.js'></script>
		<script src="/javascripts/turns.js"></script>
		<script src="/javascripts/tile.js"></script>
		<script src="/javascripts/hill.js"></script>
		<script src="/javascripts/proceduralGeneration.js"></script>
	</head>
	<body>
		<div class="canvas">
		</div>
		<div class="player-list">
			<div class="purple selected">
				<span class="title">Player 1</span>
				<span class="home">Home Size: </span><span class="size"></span>
			</div>
			<div class="pink">
				<span class="title">Player 2</span>
				<span class="home">Home Size: </span><span class="size"></span>
			</div>
			<div class="orange">
				<span class="title">Player 3</span>
				<span class="home">Home Size: </span><span class="size"></span>
			</div>
			<div class="green">
				<span class="title">Player 4</span>
				<span class="home">Home Size: </span><span class="size"></span>
			</div>
			<button class="end-turn">End turn</button>
			<h2>Instructions</h2>
			<span>You control the purple team, click a tile to select it and click a different colour tile to attack. Press the end turn button when you're done.</span>
		</div>
	</body>
</html>