<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    	<script type='text/javascript' src='/javascripts/jquery-2.1.1.min.js'></script>
		<script src="/javascripts/turns.js"></script>
		<script src="/javascripts/tile.js"></script>
		<script src="/javascripts/proceduralGeneration.js"></script>
	</head>
	<body>
		<div class="canvas">
		</div>
		<div class="player-list">
			<span class="purple selected">Player 1</span>
			<span class="pink">Player 2</span>
			<span class="orange">Player 3</span>
			<span class="green">Player 4</span>
			<button class="end-turn">End turn</button>
		</div>
	</body>
</html>