body {
  padding: 0 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size:18px;
}

.player-list{width:500px;margin:10px auto;}
	.player-list span{float:left;width:101px;padding:20px 11px;text-align: center;border:1px solid black;}
		.player-list span.purple{background: #9696FF;}
		.player-list span.pink{background: #FF9BDD;}
		.player-list span.orange{background: #FFD587;}
		.player-list span.green{background: #B8FFB2;}
		.player-list span.selected{text-decoration: underline;}
	.player-list .end-turn {float:left;width:500px;padding:15px;}


.canvas {width:100%;height:800px;background-color: #5D98CC;}
	.canvas .tile {position:absolute;background: url('../images/hexagon-small.png');width:64px;height:44px;padding-top:20px;text-align: center;-webkit-user-select: none;cursor: default;}
		.canvas .tile.purple {background: url('../images/purple-hexagon.png');}
		.canvas .tile.pink {background: url('../images/pink-hexagon.png');}
		.canvas .tile.orange {background: url('../images/orange-hexagon.png');}
		.canvas .tile.green {background: url('../images/green-hexagon.png');}
		.canvas .tile.selected {border:3px solid red;z-index: 100;background-color: rgba(255,0,0,0.5);}
		.canvas .tile.highlighted {background: url('../images/highlighted-hexagon-small.png');}
		.canvas .tile.disabled {background: url('../images/disabled-hexagon-small.png');}
