body {
  padding: 0 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size:18px;
}

.player-list{width:800px;margin:10px auto;}
	.player-list div{float:left;width:178px;padding:5px 10px 20px 10px;border:1px solid black;}
		.player-list div span{float:left;}
			.player-list div span.title{width:100%;text-align: center;padding-bottom: 5px;}
			.player-list div span.home{width:70%;}
			.player-list div span.size{width:30%;text-align: right;}
		.player-list div.purple{background: #9696FF;}
		.player-list div.pink{background: #FF9BDD;}
		.player-list div.orange{background: #FFD587;}
		.player-list div.green{background: #B8FFB2;}
			.player-list div.selected span.title{text-decoration: underline;}
	.player-list .end-turn {float:left;width:100%;padding:15px;}


.canvas {width:100%;height:800px;background-color: #5D98CC;}
	.canvas .tile {position:absolute;background: url('../images/hexagon-small.png');width:64px;height:44px;padding-top:20px;text-align: center;-webkit-user-select: none;cursor: default;}
		.canvas .tile.purple {background: url('../images/purple-hexagon.png');}
		.canvas .tile.pink {background: url('../images/pink-hexagon.png');}
		.canvas .tile.orange {background: url('../images/orange-hexagon.png');}
		.canvas .tile.green {background: url('../images/green-hexagon.png');}
		.canvas .tile.selected {border:3px solid red;z-index: 100;background-color: rgba(255,0,0,0.5);}
		.canvas .tile.highlighted {background: url('../images/highlighted-hexagon-small.png');}
		.canvas .tile.disabled {background: url('../images/disabled-hexagon-small.png');}
		
		.canvas .tile.upgrading:after {content:"Upgraded";top:6px;position:absolute; left:5px;padding:3px;font-size:12px;z-index: 101;background-color: #61D5E4;}
		.canvas .tile.won:after {content:"Won";position:absolute; top:5px; left:16px;padding:3px;font-size:12px;z-index: 101;background-color: #5EFFA1;border:1px green dashed;}
		.canvas .tile.lost:after {content:"Lost!";position:absolute; top:6px; left:18px;padding:3px;font-size:12px;z-index: 101;background-color: #FF777A;border:1px red dashed;}
		.canvas .tile.acted:after {content:"X";position:absolute; top:40px; left:24px;padding:3px;font-size:12px;z-index: 101;background-color: #555555;border:1px grey dashed;}
