body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size:18px;
}

table{border-collapse: collapse;}
td{width: 75px; height: 75px;border: 1px solid black;text-align: center;font-size:18px;background: white;}

.players {float:left;margin: 20px auto ;width:830px;}
.players span {float:left;width:21%;margin-left:20px;text-align: center;}
.players span.purple{border:1px solid purple;}
.players span.green{border:1px solid green;}
.players span.red{border:1px solid red;}
.players span.orange{border:1px solid orange;}

.disabled{background: grey;}
td.red{background: red;}
td.purple{background: purple;}
td.green{background: green;}
td.orange{background: orange;}
td.blue{background: blue;}