body {
  padding: 0 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size:18px;
}

.game{float:left;width: 100%;}

table{float:left;width: 50%;border-collapse: collapse;margin-right: 25px;}
td{width: 75px; height: 75px;border: 1px solid black;text-align: center;font-size:18px;background: white;}

.console{float:left;width: 45%;height:90%;padding-left:25px; border-left: 1px solid black;}
	.console ul{list-style-type: none;}

.players {float:left;margin: 0 auto 20px auto ;width:100%;}
.players span {float:left;width:21%;margin-left:20px;padding:10px 0;text-align: center;}
.players span.purple{border:1px solid purple;}
.players span.green{border:1px solid green;}
.players span.red{border:1px solid red;}
.players span.orange{border:1px solid orange;}

.disabled{background: grey;}
td.red{background: red;}
td.purple{background: purple;}
td.green{background: green;}
td.orange{background: orange;}
td.blue{background: blue;}

.endTurn {margin:20px auto;padding:10px 0;width:800px;font-size: 18px;}


.canvas {width:100%;height:1000px;}
	.canvas .tile {position:absolute;background: url('../images/hexagon.png');width:128px;height:78px;text-align: center;padding-top:50px;-webkit-user-select: none;cursor: default;}
		.canvas .tile.selected {background: url('../images/selected-hexagon.png');}
		.canvas .tile.highlighted {background: url('../images/highlighted-hexagon.png');}
		.canvas .tile.disabled {background: url('../images/disabled-hexagon.png');}
